<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<p>
  <a href="/shop">List Product</a>
  <a href="/shopping-cart">You cart</a>
</p>
<form  th:object="${product}">
  <table>
    <tr>

      <td><input type="hidden" th:field="*{id}"/></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" th:field="*{price}"/></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" th:field="*{description}"/></td>
    </tr>
    <tr>
      <td>Add Cart:</td>
      <td><a th:href="@{/add/__${product.id}__(action='show')}">Add To Cart</a></td>
    </tr>

  </table>
</form>
</body>
</html>